@{
    ViewData["Title"] = "Home Page";
}

<div class="titulo-inicio">
    <h1> Bienvenido, </h1>
</div>

<div class="acciones">

    <div class="item">
        <h3>Clientes</h3>
        <p>Administra usuarios, roles y permisos del sistema.</p>
        <a href="/usuarios" class="btn-item">Ir</a>
    </div>

    <div class="item">
        <h3>Productos</h3>
        <p>Gestiona los productos, precios y existencias.</p>
        <a href="/productos" class="btn-item">Ir</a>
    </div>

    <div class="item">
        <h3>Empleados</h3>
        <p>Consulta reportes y estadísticas del sistema.</p>
        <a href="/reportes" class="btn-item">Ir</a>
    </div>

    <div class="item">
        <h3>Reservas</h3>
        <p>Consulta reportes y estadísticas del sistema.</p>
        <a href="/reportes" class="btn-item">Ir</a>
    </div>

    <div class="item">
        <h3>Habitaciones</h3>
        <p>Consulta reportes y estadísticas del sistema.</p>
        <a asp-controller="Habitaciones" asp-action="Index" class="btn-item">Ir</a>
    </div>


</div>